body{
    position: absolute;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -245px;
    height: 100vh;
}
.container{
    border: solid black 0.5px;
    font-size: 0;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: auto;
}
.grid{
}

.buttons{
    display: flex;
    align-content: center;
    justify-content: center;

}

.buttons button{
    padding: 15px;
    margin : 60px 10px 25px 10px;
}
